
  
  .content-fornecedores {
    padding: 20px;
    flex-grow: 1; /* Permite que o conteúdo ocupe o espaço restante */
  }
  
  .header-fornecedores {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-fornecedores h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .header-fornecedores .buttons-fornecedores {
    display: flex;
    gap: 10px;
  }
  
  .header-fornecedores .buttons-fornecedores button {
    background-color: #fff;
    border: 2px solid #ccc; /* espessura da borda */
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .header-fornecedores .buttons-fornecedores button:hover {
    background-color: #f0f0f0; /* cor de fundo ao passar o mouse */
  }
  
  .header-fornecedores .buttons-fornecedores button i {
    font-size: 16px;
  }
  
  .header-fornecedores .filter {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .header-fornecedores .filter i {
    font-size: 16px;
  }
  
  .fornecedor-table {
    
    background-color: #dfdfdf;
  }

  th, td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
  }

  tr:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    background-color: #b957ff3b;
  }
