.grafico-categoria-container {
    width: 325px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Ajuste na opacidade */
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-top: -30px;
    padding-right: 65px;
    padding-left: 56px;
    padding-bottom: 10px;
    position: absolute;
    right: 34.3vw;
    top: 63vh;
    display: table-column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    z-index: 10; /* Garante visibilidade */
    background-color: #fff; /* Fundo claro para destacar a sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .categoria-title {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 30px;
  }

  .grafico-categoria-container:hover {
    transform: scale(1.05);  /* Expande o container */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);  /* Aumenta a sombra para dar mais destaque */
  }
  
  @media (max-width: 768px) {
    .grafico-container {
      width: 100%;
    }
  }
  
