.grafico-container {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 0px 20px;
  position: absolute;
  top: 50vh;
  left: 75vh;
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: flex-end; /* Garante que o conteúdo fique na direita */
  gap: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Transição suave */
}

.grafico-legend {
  text-align: center; /* Alinha o texto ao centro dentro do bloco */
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  gap: 10px; /* Adiciona espaço entre os itens */
  margin-right: 20px;
  transition: transform 0.8s ease-in-out;
}

.grafico-card{
  width: 150px;
}


.grafico-legend :hover {
  transform: scale(1.1);
  color: #6a0dad;
}

/* Efeito de hover no container */
.grafico-container:hover {
  transform: scale(1.1);  /* Expande o container */
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.4);  /* Aumenta a sombra para dar mais destaque */
}

@media (max-width: 1280px) {
  .grafico-container {
    /* Estilos para larguras menores que 1280px */
  }
}

@media (max-width: 990px){
  .grafico-container {
    position: absolute;
    top: 50vh;
    left: 75vh;
  }
}

@media (max-width: 939px) {
  .grafico-container{
      position: absolute;
      animation: moveGraph 0.5s ease-out forwards;
      
  }

  @keyframes moveGraph {
    0% {
      left: 75vw;
      top: 50vh;
    }

    10% {
      left: 75vw;
      top: 75vh;
    }
    
    100% {
      left: 36vw; /* Move para 90% da largura da viewport */
      top: 70vh;  /* Move para 70% da altura da viewport */
    }
  }
}

@media (max-width: 632px) {
  .grafico-container{
    position: absolute;
    animation: moveGraph 0.5s ease-out forwards;
    display: flex;
    flex-direction: column; /* Alinha os itens na vertical (um acima do outro) */
    align-items: center;    /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    gap: 40px;              /* Espaço entre os itens */
    width: 247px;
  }

  @keyframes moveGraph {
    0% {
      left: 75vw;
      top: 50vh;
    }

    10% {
      left: 75vw;
      top: 75vh;
    }
    
    100% {
      left: 34vw; /* Move para 90% da largura da viewport */
      top: 70vh;  /* Move para 70% da altura da viewport */
    }

  }

  @media (max-width: 493px) {
    .grafico-container{
      position: absolute;
      
      animation: moveGraph 0.5s ease-out forwards;
      display: flex;
      flex-direction: column; /* Alinha os itens na vertical (um acima do outro) */
      align-items: center;    /* Centraliza os itens horizontalmente */
      justify-content: center; /* Centraliza os itens verticalmente */
      gap: 40px;              /* Espaço entre os itens */
      width: 177px;
      
    }

  }

}
