.ultimo-produto-card{
    display: table-column;
    box-shadow: 0px 0px 10px #00000080;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 30vh;
    right: 0.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ultimo-produto-card:hover {
    transform: scale(1.05);  /* Expande o container */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);  /* Aumenta a sombra para dar destaque */
  }